/* ================= RESET CSS ================= */
/* Browser ke default margin & padding hata dete hain */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* IMPORTANT */
}

/* ================= BODY ================= */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* ================= NAVBAR ================= */
#bar {
    background-color: aquamarine; /* background color */
    color: blue;                  /* text color */
    padding: 15px;                /* inner space */
    text-align: center;
}

/* ================= MAIN ================= */
main {
    background-color: beige;
    height: 500px;   /* height fix ki */
    padding: 20px;
}

/* ================= PRODUCT BOX ================= */
#product {
    /* Width & Height */
    width: 300px;
    height: 400px;

    /* Background shorthand property */
    background: gold url("image.png") center / contain no-repeat;

    /* Text styling */
    color: black;
    text-align: center;
    line-height: 400px; /* vertically center text */

    /* Box model */
    border: 2px solid black;
}

/* ================= VISIBILITY EXAMPLE ================= */
/*
.box {
    width: 50px;
    height: 50px;
}

#box1 {
    background-color: bisque;
    visibility: hidden; 
    // Element space leta hai, but dikhai nahi deta
}

#box2 {
    background-color: aquamarine;
}
*/

